.movie-detail-card{
display:flex;
gap:40px;
background:#1e293b;
padding:30px;
border-radius:10px;
}

.poster-section img{
width:300px;
border-radius:10px;
}

.info-section{
flex:1;
}

.genre{
font-size:18px;
color:#9ca3af;
}

.rating{
font-size:20px;
margin-top:10px;
}

.duration{
margin-top:10px;
}

.description{
margin-top:20px;
line-height:1.6;
}
.poster-section img:hover{
transform:scale(1.05);
transition:0.3s;
}
